:root {
  /* Variables de paleta de colores para el tema claro */
  --color-primary-light: #49a078;
  --color-secondary-light: #9cc5a1;
  --color-tertiary-light: #216869;
  --color-accent-light: #ed9555;
  --color-info-light: #82b4ff;
  --color-success-light: #b0edb5;
  --color-alert-light: #fff382;
  --color-error-light: #ff829b;
  --color-background-light: #dce1de;
  --color-background-secondary-light: #e6eae7;
  --color-text-light: #1f2421;

  /* Variables de paleta de colores para el tema oscuro */
  --color-primary-dark: #2e3333;
  --color-secondary-dark: #4f5552;
  --color-tertiary-dark: #777f77;
  --color-accent-dark: #a19085;
  --color-info-dark: #4da3d5;
  --color-success-dark: #b0edb5;
  --color-alert-dark: #f4e2ae;
  --color-error-dark: #f9c8e8;
  --color-background-dark: #171717;
  --color-background-secondary-dark: #161917;
  --color-text-dark: #9b9b9b;
}